.section{
   padding-top: 40px;
   padding-bottom: 40px; 
}

.main-heading{
    color:#2E6021;
    font-size: 26px;
}

.underline{
    height: 04px;
    width: 4rem;
    background-color: #5C755E;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary {
    padding-bottom: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;

}



